html {
  font-family:sans-serif;
  font-weight:normal;
  padding:0;
  margin:0;
}

body {
  background-color: #FFFFFF;
  background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
  padding:0;
  margin:0 auto;
  width:80%;
  max-width:100%;
  color:#FFFFFF ;
}

/* Heading styles */
h1,h2,h3,h4 {
  
  font-weight:;
  color:rgb(0, 0, 0);
  margin-bottom:5px;
  text-transform:uppercase;
  color:#666;
}

h2 {
  font-weight:bold;
  font-size:1.3em;
  letter-spacing:3px;
  margin:1.5em 0 1.5em 0;
  text-align:right;
  color:#FFFFFF
}

h3 {
  font-size:1.2em;
  letter-spacing:2px;
  color:#FFFFFF

}

ul {
  line-height:1.6em;
