body {
  background-color: rgba(163, 162, 162, 0.562);
  background-image: url(https://i.imgur.com/jYwT08D.png);
  background-repeat: repeat;
  background-position: center;
}
.jumbotron {
  background-image: url(http://static1.grsites.com/archive/textures/beige/beige001.jpg);
  background-attachment: fixed;
  color: rgb(22, 22, 22);
}
h1 {
  text-align: center;
}
.img1 {
  height: 25%;
  width: 25%;
  position: relative;
  margin: 1% 10% 1% 0%;
}
.img2 {
  height: 25%;
  width: 25%;
  position: relative;
  margin: 1% 0% 1% 10%;
}
.display-3 {
  font-family: 'Times New Roman', Times, serif;
}
.col-md-4 {
  color: rgb(240, 240, 240);
  font-family: 'Times New Roman', Times, serif;
}